@tailwind base;
@tailwind components;
@tailwind utilities;

html:has(#export) {
  @apply overflow-hidden h-screen;
}

#app {
  @apply mx-auto min-h-screen text-font flex flex-col w-full max-w-app text-sm;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  @apply bg-theme;
}

body:has(.e-i-container) {
  @apply h-screen overflow-hidden;
}

select {
  @apply border border-solid border-separator/50 bg-theme text-font rounded-md px-2 py-1.5 cursor-pointer;
}

code {
  @apply max-h-[15vh] [@media(min-height:500px)]:max-h-[40vh] [@media(min-height:700px)]:max-h-[60vh];
}
pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

@layer components {
  .toggle-underline {
    @apply underline underline-offset-[3px];
  }

  .tracker-grid {
    @apply grid grid-cols-2 gap-x-4 gap-y-6;
  }
  .tracker-box {
    @apply flex flex-col gap-1;
  }

  .tracker-box :first-child {
    @apply text-base font-medium;
  }

  .tracker-container {
    @apply border border-solid border-container rounded-md p-2.5;
  }

  .container-header {
    @apply text-3xl font-semibold mb-4;
  }

  .slots-content {
    @apply grid gap-2 items-center;
  }

  .container-subheader {
    @apply text-xl;
  }

  .container-content {
    @apply grid gap-2 items-center;
  }

  .slots-content > div {
    @apply flex flex-col gap-2;
  }
  .slots-content > div:not(:has(select)) {
    @apply items-center;
  }

  .loadout-grid {
    @apply grid grid-cols-[3fr_repeat(5,1fr)];
  }

  /* Export/Import/Share container */
  .e-i-container {
    @apply col-span-full border-b border-solid border-b-container pb-3 flex flex-col gap-4;
    @apply after:h-screen after:w-full after:-z-10 after:bg-theme/70 after:fixed after:bottom-0 after:left-0;
  }

  .preset {
    writing-mode: vertical-lr;
    text-align: center;
    transform: rotate(180deg);
  }

  .preset-card {
    @apply border-b border-solid border-b-container py-5 px-container;
  }
  .preset-card:last-of-type {
    @apply border-b-0;
  }
}
