@tailwind base;
@tailwind components;
@tailwind utilities;

html:has(#export) {
  @apply overflow-hidden h-screen;
}

#app {
  @apply mx-auto min-h-screen text-font flex flex-col w-full max-w-2xl text-sm md:text-base;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  @apply bg-theme;
}

select {
  @apply border border-solid bg-theme text-font rounded-md px-2 py-1.5 cursor-pointer;
}

select:disabled {
  @apply cursor-not-allowed;
}

@layer components {
  .tracker-container {
    @apply border border-solid border-container rounded-md p-2.5;
  }

  .container-header {
    @apply text-3xl font-semibold mb-4;
  }

  .slots-content {
    @apply grid grid-cols-[2fr_2fr_2.5fr_2.5fr_2.5fr] gap-2 items-center;
  }

  .container-subheader {
    @apply text-2xl;
  }
  .container-content {
    @apply grid grid-cols-[1.5fr_2fr_2.5fr_2.5fr_2.5fr] gap-2 items-center;
  }

  .container-content span:nth-of-type(n + 3),
  .slots-content span:nth-of-type(n + 3) {
    @apply text-center;
  }

  .loadout-grid {
    @apply grid grid-cols-[3fr_repeat(5,1fr)];
  }
}
.preset {
  writing-mode: vertical-lr;
  text-align: center;
  transform: rotate(180deg);
}
